* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  letter-spacing: 1px;
  word-spacing: -1px;
}

/*sec-1*/
.sec-1 {
  padding-top: 15px;
  background-image: url("../images/2.jpg");
  background-size: /*100% 100% */ cover;
  background-repeat: no-repeat;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
}

.sec-1 .navall {
  background-color: black;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.sec-1 nav div .flex {
  display: flex;
}
.sec-1 nav div h3 {
  padding: 5px;
  color: rgb(236, 192, 1);
}

.list {
  background-color: rgb(236, 192, 1);
  width: 35px;
}

.sec-1 nav div button:active {
  background-color: rgb(236, 192, 1);
  width: 35px;
}

.shopping-h2 {
  color: #cd8383;
}

.aside {
  padding: 10px;
}

.sec-1 .aside a {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  width: 115px;
  font-size: 12px;
  text-align: center;
}

.sec-1 .article {
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  text-align: justify;
  padding-bottom: 15px;
  padding-top: 15px;
}
.article h4 {
  color: #ffc25b;
  padding-bottom: 5px;
}
.article small {
  color: #fff;
}

.visit {
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav.list2 a {
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
}
/*finish sec-1*/

/*sec-2*/

.h4sec2{
padding-left: 20px;
}
.card {
  background-color: black;
  margin-bottom: 15px;
  width: 350px ;
  margin: 15px auto;

}


.card-title{
  padding-left: 15px;
  color:rgb(236, 192, 1)
}
 .card-text{
  color: #fff;
  padding-left: 15px;
  margin-right: 15px;
  text-align: justify;
 }
/*finish sec-2*/

@media (max-width: 767.5px) {
  .list2 {
    display: none;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px){
  .list {
    display: none;
  }

  .flexsec2{
    display: flex;
    justify-content: space-between;
  }
  
@media (max-width: 992px)  {
  .card3sec2{
    overflow: auto;
    width: 700px;
    margin: 15px auto;
  }
.card{margin-right: 10px;}
}

}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  .aside {
    padding: 0px;
  }
  .container {
    width: 1140px;
    margin: 0px auto;
  }
  .flexsec2{
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
}
