* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  letter-spacing: 1px;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.sec-1 {
  padding-top: 15px;
  background-image: url("../images/2.jpg");
  background-size: cover;
}

.sec-1 nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
 
}

.sec-1 nav div {
  display: flex;
}
.sec-1 nav h3 {
  padding: 5px;
  color: #ecc001;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
