* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  letter-spacing: 1px;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}

/*sec-1*/
.sec-1 {
  padding-top: 15px;
  background-image: url("../images/2.jpg");
  background-size: cover;
}

.sec-1 nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.sec-1 nav .flex {
  display: flex;
}
.sec-1 nav h3 {
  padding: 5px;
  color: rgb(236, 192, 1);
}

.sec-1 nav button {
  background-color: black;
  width: 35px;
}

.sec-1 nav button:active {
  background-color: rgb(236, 192, 1);
  width: 35px;
}

.shopping-h2{
color: #cd8383;
}

.sec-1 .container div a{
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px; 
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    width: 115px;
}
/*sec-1*/

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
