* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  letter-spacing: 1px;
  word-spacing: -1px;
}




/*sec-1*/
.sec-1 {
  padding-top: 15px;
  background-image: url("../images/banner.jpg");
  background-size: /*100% 100% */ cover;
  background-repeat: no-repeat;
}
.container {
  
  padding: 15px;
}

/*test*/
nav div label{
  padding-top: 10px;
}
dialog div:first-child{
  background-color: black;
  padding:15px 15px 
}

dialog a{

  text-decoration: none;
  color:#fff;
}
dialog i{
  padding: 10px 5px;
}
#check{
  display: none;
}
dialog{
  display: none;
  width: 140px;
  border: 1px solid rgb(236, 192, 1);
  position: fixed;
  left: 60%;
  top: 10%;
}
input:checked +dialog{
  display: block;
}


/*test*/
.sec-1 .navall {
  background-color: black;
  padding: 0px 15px;
}

.nav {
  display: flex;
  justify-content: space-between;

}

.sec-1 nav div .flex {
  display: flex;
}
.sec-1 nav div h3 {
  padding: 5px;
  color: rgb(236, 192, 1);
}

.list {
  background-color: rgb(0, 0, 0);
  width: 35px;
}

.sec-1 nav div button:active {
  background-color: rgb(236, 192, 1);
  width: 35px;
}

.shopping-h2 {
  color: #cd8383;
}

.aside {
  padding: 10px;
}

.button {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
  width: 115px;
  font-size: 12px;
  text-align: center;
}

.sec-1 .article {
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  text-align: justify;

  padding-bottom: 35px;
  padding-top: 15px;
}
.article h4 {
  color: #ffc25b;
  padding-bottom: 5px;
}
.article small {
  color: #fff;
}

.visit {
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav.list2 a {
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
}
/*finish sec-1*/

/*sec-2*/

.h4sec2 {
  padding-left: 20px;
}
.card {
  background-color: black;

  width: 350px;
  margin: 15px auto;
  position: relative;
}
.sall {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 5px;
  left: 5px;
  border-radius: 10%;
  color: #fff;
  padding: 2px;
}
.imgsec2 {
  width: 100%;
}

.card-title {
  padding-left: 15px;
  color: rgb(236, 192, 1);
}
.card-text {
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  padding-bottom: 15px;
}
/*finish sec-2*/

/* sec-3*/
.sec-3 {
  background-color: black;
  color: #fff;
  padding-bottom: 20px;
}
#h4sec3art1 {
  text-align: center;
  color: rgb(236, 192, 1);
  margin-top: 15px;
}

.imgsec3art1 {
  padding: 15px;
}
.imgsec3art1 img {
  width: 250px;
  margin-bottom: 15px;
}
/*article-2*/
.article-2 {
  background-image: url(../images/sep.png);
  background-size: cover;
}
.article-2 h6 {
  padding-left: 15%;
}

/*article-3*/

.article-3 {
  margin: 15px 15px;
}

.article-3 p,
h2,
div.flex-2 {
  margin: 15px auto;
}

/*finish sec-3*/

/*sec-4*/

.sec-4 {
  background: rgba(26, 137, 185, 0.5) url(../images/contactus.jpg) no-repeat;
  background-size: cover;
  padding: 15px;
  background-blend-mode: darken;
  border-bottom: 5px solid  rgb(236, 192, 1);
  margin-bottom: 0px;
}

form {
  padding: 15px;
 display: flex;
 flex-direction: column;
  border-radius: 5px;
 box-shadow: 0px 0px 5px 1px rgb(236, 192, 1);
}

input{margin: 5px auto;
width: 250px;
height: 30px;
padding-left: 5px;
}



.flexsec4 h2{
  color:rgb(236, 192, 1) ;
  margin-bottom: 20px;
}

.flexsec4 p{
  color: #fff;
  margin-bottom: 20px;
 
}
form button{
  background-color: rgb(236, 192, 1) ;
  height:30px;
  width: 250px;
  margin: auto;
}
/*finish sec-4*/
/* sec-5*/
.sec-5{
  background-color: black;
  color: #fff;
  padding-left: 15px;
  margin-top: 0px;
}

li{
list-style: none;
}
ul{
  padding-top: 15px;
  padding-bottom: 15px;
}
/*finish sec-5*/
/*media*/
@media (max-width: 767.5px) {
  .list2 {
    display: none;
  }
  .container {
    padding-left: 0px;
    margin: 15px auto;
  }

  .flexsec3 {
    display: flex;
    justify-content: space-between;
  }
  .imgsec3art1 {
    overflow: auto;
    width: 250px;
    margin: 15px auto;
  }

  .imgsec3art1 img {
    margin-right: 10px;
  }
  .flexsec3ar2 {
    padding-left: 30px;
    margin: 15px auto;
  }

  .flex-1 img,
  div.flex-2 {
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .list2 {
    padding-top: 10px;
  }
  .list {
    display: none;
  }
/*test*/
  nav div label{
    display: none; 
  }
  /*test*/

  .flexsec2 {
    display: flex;
    justify-content: space-between;
  }
  .flexsec3 {
    display: flex;
    justify-content: space-between;
  }
  .flexsec3ar2 {
    display: flex;
    justify-content: space-around;
  }

  .flex-1 {
    display: flex;
    justify-content: space-around;
  }

  .flex-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 45%;
  }
  .flexsec4 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .flexsec5 {
    display: flex;
    justify-content: space-around;
  }

  .flexsec4 p{
    width: 500px;
  }

  @media (max-width: 1139px) {
    .card3sec2 {
      overflow: auto;
      width: 700px;
      margin: 15px auto;
    }
    .card {
      margin-right: 10px;
    }
    .imgsec3art1 {
      overflow: auto;
      width: 700px;
      margin: 15px auto;
    }

    .imgsec3art1 img {
      margin-right: 10px;
    }
  }
}

@media (min-width: 992px) {
  @media (min-width: 1139px) {
    .flexsec3 {
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 1200px) {
  .aside {
    padding: 0px;
  }

  .container {
    width: 1140px;
    margin: 0px auto;
  }
}

@media (min-width: 1400px) {
}
